.container {
    background: linear-gradient(white, blue);
}

h1 {
    color:blue;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(219, 122, 10), pink)
}
.resultsFiveDay {
    display: flex;
    margin-top: 10px;
    
    
}
.resultsToday {
    display:flex;
}
p {
    color: black;
}
.container {
    display: flex;
    padding: 10px;
}

.search {
    flex-direction: column;
    width: 30%;
    padding-right: 10px;
}

.searchCurrent {
    display:flex;
    flex-direction: column;
    border: 2px, black, solid;
    border-radius: 5px;
    padding: 10px;
}
.btn {
    margin-top:5px;
    cursor: pointer;
}
#cityName {
    border-radius:5px;
}
#state {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor:pointer;
}
.searchHistory {
    display:flex;
    flex-direction: column-reverse;
    padding-top: 10px;
    padding-right:10px;
}
.largeCard {
    display:flex;
    border:2px, solid, black;
    background: blue;
    background-size: contain;
    border-radius: 10px;
    width: 100%;
    height: 260px;
    padding-left: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
    flex-direction: column;
    color: white;
}
.largeCard p1 {
    text-align: center;
    font-size: 24px;
}
.largeCard p {
    text-align: right;
    padding-right: 10px;
    color:white;
    font-size: 20px;
}
.card {
    display: flex;
    border:2px, solid, black;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    width:20%;
    height: 280px;
    color: white;
}



.card p {
    color: white;
}

.card h3 {
    margin-bottom: auto;
}

.btn {
    border:2px, solid, black;
    border-radius:10px;
    padding-top:5px;
    background-color:rgb(45, 33, 156);
    color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .results {
        width:100%;
    }
    .resultsFiveDay {
        flex-direction: column;
        
    }

    .card {
        width: 100%;
        height: 140px;
        margin-top: 10px;
        padding-right: 10px;
        
    }
    .resultsFiveDay {
        margin-right:10px;
    }
}